main{
    width: 100%;
    /* padding: 3% 4%; */
}

.collection {
    border: none;
    margin-block-start: 0;
    margin-block-end: 0;
}

.collection-header {
    text-align: center;
    background-color: #f9f9f9!important;
    padding: 3% 4%!important;
}

.collection-header h4:after{
    content: ""; 
    width: 45%;
    margin: 0 auto;
    height: 5px;
    background: yellow; 
    display: block;
}

.collection-header h4{
    font-weight: 700;
    color: #ed0819;
    margin-block-start: 0;
    margin-block-end: 0;
}

.collection .collection-item {
    padding: 4% 3%;
    background: #f9f9f9;
    min-height: 65px;
}

.collection-item:nth-child(odd) {
    color: green;
}

.collection-item:nth-child(even) {
    color:#ed0819;
}

.collection .collection-item.avatar {
    padding-left: 4%;
}

.collection .collection-item.avatar .secondary-content-price {
    right: 3%;
    position: absolute;
    top: 16px;
}
