<main>
  <ul class="collection with-header" *ngIf="menuPage == 'pizza'">
    <li class="collection-header"><h4>Pizzas</h4></li>
    <li class="collection-item avatar" *ngFor="let pizza of pizzas">
      <span class="title"><b>{{ pizza.codigo }} - {{ pizza.titulo }}</b></span>
      <p><i>{{ pizza.descricao }}</i></p>
      <span class="secondary-content-price"><b>R$ {{ pizza.preco }}</b></span>
    </li>
  </ul>
  <ul class="collection with-header" *ngIf="menuPage == 'lanches'">
    <li class="collection-header"><h4>Lanches</h4></li>
    <li class="collection-item avatar" *ngFor="let lanche of lanches">
      <span class="title"><b>{{ lanche.titulo }}</b></span>
      <span class="secondary-content-price"><b>R$ {{ lanche.preco }}</b></span>
    </li>
  </ul>
  <ul class="collection with-header" *ngIf="menuPage == 'panquecas'">
    <li class="collection-header"><h4>Panquecas</h4></li>
    <li class="collection-item avatar" *ngFor="let panqueca of panquecas">
      <span class="title"><b>{{ panqueca.titulo }}</b></span>
      <span class="secondary-content-price"><b>R$ {{ panqueca.preco }}</b></span>
    </li>
  </ul>
</main>
