main {
  width: 100%;
  height: 90vh;
  padding: 3% 4%;
  text-align: center;
  background: url("../../../assets/imgs/background-pizza3.jpg") center bottom;
  background-size: 100% 100%;
}

@media (min-height: 640px){
  .fone{
    margin-top: 60px!important;
  }
}

@media (min-height: 731px){
  main {
    height: 92vh;
  }
  .fone{
    margin-top: 140px!important;
  }
}

main img.logo-image{
  width: 94%;
  margin: 20px auto;
}

.fone{
  text-align: left;
  margin-top: 15px;
  text-align: center;
}

.outline{
  text-shadow: 2px 2px 0 #000, 
  2px -2px 0 #000, 
  -2px 2px 0 #000, 
  -2px -2px 0 #000, 
  2px 0px 0 #000, 
  0px 2px 0 #000, 
  -2px 0px 0 #000, 
  0px -2px 0 #000;
}

.shadow-text{
  text-shadow: 2px 1px 1px rgba(0, 0, 0, 1)!important;
}

.outline-white{
  text-shadow: 2px 2px 0 #fff, 
  2px -2px 0 #fff, 
  -2px 2px 0 #fff, 
  -2px -2px 0 #fff, 
  2px 0px 0 #fff, 
  0px 2px 0 #fff, 
  -2px 0px 0 #fff, 
  0px -2px 0 #fff;
}

.fone p{
  font-size: 3em;
  color: #ed0819;
  margin: 0;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 3px;
  font-style: italic;
}

.promocoes{
  margin-top: 30px;
  width: 100%;
  float: left;
  text-align: left;
}

.promocoes img{
  width: 35%;
  float: left;
}

.promocoes-desc{
  width: 65%;
  float: left;
}

.promocoes-desc p{
  margin: 0;
  font-size: 1.1em;
  line-height: 1.4;
  color: #fff;
}

.promocoes-desc p:first-child{
  font-size: 1.1em;
  text-transform: uppercase;
}

.promocoes-desc p:last-child{
  font-size: .8em;
}

.localizacao{
  margin-top: 20px 0;
  float: left;
  letter-spacing: .5px;
  font-size: 1.1em;
  color: #fff;
  text-transform: uppercase;
}
