<main>
  <img class="logo-image" src="assets/imgs/pizzaria-logo3.png" alt="pizzaria-logo">
  <div class="fone">
    <p class="outline-white">4696-3848</p>
    <p class="outline-white">98532-6069</p>
    <p class="outline-white">99621-3610</p>
  </div>
  <div class="promocoes">
    <div class="promocoes-desc">
      <p class="shadow-text">Promoções de terça à quinta</p>
      <p class="shadow-text">Aberto de Terça à Domingo à partir das 18:00hs.</p>
    </div>
    <img src="assets/imgs/cartoes2.png" alt="cartoes">
  </div>
  <p class="localizacao shadow-text">Av. Ademar Bolina, 729 - Centro - Salesópolis</p>
</main>
